<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header-global titulo="Inbox do Cmail (vindo agora de quem chama)" ></header-global>

  <main class="mdl-layout__content">
    <div class="page-content">


<!-- Procurar por Schematics -->
<form [formGroup]="formCadastro" (submit)="handleCadastro()">
  <cmail-form-field [campo]="formCadastro.get('nome')">
      <input
        formControlName="nome" cmailFormInput
        name="nome" id="nome" placeholder="Nome">
  </cmail-form-field>

  <cmail-form-field [campo]="formCadastro.get('username')">
      <input
        formControlName="username" cmailFormInput
        name="username" id="username" placeholder="Username">
  </cmail-form-field>

  <cmail-form-field [campo]="formCadastro.get('senha')">
      <input
        formControlName="senha" cmailFormInput
        name="senha" id="senha" placeholder="Senha">
  </cmail-form-field>

  <cmail-form-field [campo]="formCadastro.get('avatar')">
      <input
        formControlName="avatar" cmailFormInput
        name="avatar" id="avatar" placeholder="Avatar">
      <span *ngIf="formCadastro.get('avatar').status === 'PENDING'" class="mdl-textfield__error">
        Aguarde um instante...
      </span>
      <span *ngIf="formCadastro.get('avatar').status === 'VALID'" class="mdl-textfield__error">
        Tudo certo!
      </span>
  </cmail-form-field>

  <cmail-form-field [campo]="formCadastro.get('telefone')">
      <input
        formControlName="telefone" cmailFormInput
        name="telefone" id="telefone" placeholder="Telefone">
      <span *ngIf="formCadastro.get('telefone').errors?.pattern" class="mdl-textfield__error">
        Coloque um telefone ( 2222-2222 ) e um celular ( 9-8888-7777 )
      </span>
  </cmail-form-field>

  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Button
  </button>


  <ul *ngIf="errors.length">
    <li *ngFor="let erro of errors">
      {{ erro.message }}
    </li>
  </ul>


</form>


    </div>
  </main>
</div>



<!-- ## Reactive Forms Module
- Nome
  - required
- Username [@cmail.com.br]
  - required
- Senha
  - required
    - min length
- Avatar (vamos receber uma URL)
    - validação assincrona
- Telefone
    - Validação via Regex -->
