<!-- Procurar por Schematics -->
<form>
  <!-- [Para] -->
  <cmail-form-field campo="campoNome">
    <input
      #campoNome="ngModel"
      [(ngModel)]="novoUsuario.nome"
      class="mdl-textfield__input"
      name="nome" id="nome"
      placeholder="Nome">
  </cmail-form-field>

  <!-- <div class="cmailInputForm">
    <div
    [ngClass]="{ 'is-invalid': campoNome.invalid && campoNome.touched }"
    class="mdl-textfield mdl-textfield--floating-label">
      <input
        #campoNome="ngModel"
        [(ngModel)]="novoUsuario.nome"
        required type="text" name="nome"
        id="nome" placeholder=" " class="mdl-textfield__input">
      <span class="mdl-textfield__error">Informar um nome é obrigatório!</span>
      <label class="mdl-textfield__label" for="para">Nome: </label>
      <span class="mdl-textfield__formline"></span>
    </div>
  </div> -->
  <!-- ./[Para] -->



</form>
- Nome
  - preenchido

<!-- - Telefone
- CPF
- Avatar
  - Se é uma URL válida
- Email
- Senha -->
